.person {
  display: flex;
  align-items: center;
  background-color: gray;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;

  h3 {
    margin: 0;
    margin-block: 0;
    font-size: 1.6rem;
  }
}

@media (hover: hover) {
  .person:hover {
    color: #cbc8c8;
    background-color: rgb(99, 99, 99);
    transition: 0.5s;
  }
}
