.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px 20px;
  font-size: 1.6rem;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
}

.search-form__label {
  h3 {
    margin: 0;
    font-size: 1.8rem;
  }
}

.search-form__input {
  font-size: 1.6rem;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #000;
  outline: none;
}

.search-form__button {
  font-size: 1.6rem;
  padding: 5px 20px;
  border-radius: 10px;
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
}

.theme-button {
  display: flex;
  border-radius: 50%;
  margin: 0;
  padding: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.error-button {
  font-size: 1.6rem;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #c32727;
  border: 1px solid #c32727;
  outline: none;
  cursor: pointer;
}

.error-button:hover {
  background-color: #c75050;
}

.theme-button:hover {
  background-color: #f0f0f0;
  transition: all 0.5s;

  svg > path {
    fill: #000000;
    transition: all 0.5s;
  }
}
