.person-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.4rem;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px 40px;
  color: #2e2e2e;
  flex: 1;

  h3 {
    margin: 10px 0;
  }

  p {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    text-decoration-line: underline;
  }

  ul {
    margin: 0;
    font-size: 1.2rem;
    color: #605f5f;
    display: flex;
    flex-direction: column;
  }
}

.person-description__back-button {
  width: fit-content;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px 20px;
  text-decoration: none;
  color: #706f6f;
  font-weight: 600;
  border: 2px solid #e7e7e7;
  outline: none;
  cursor: pointer;
}

.person-description > .person-description__not-found {
  height: 100%;
  margin: 0;
  margin-bottom: 100px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
}

@media (hover: hover) {
  .person-description__back-button:hover {
    color: #706f6f;
    background-color: #e7e7e7;
    transition: 0.5s;
  }
}
