.person-list {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
  border-right: 1px solid #a2a1a1;
}

.person-list__loader {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding-right: 10px;
  border-right: 1px solid #a2a1a1;
}
